<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Post</title>
    <link rel="stylesheet" href="/css/home.css">
    <%- include("../components/linkbootstrap.ejs") %> 
</head>
<body>
    <%- include("../components/navbar.ejs") %><br>
    <h1>Edit Blog Post</h1>
    <form action="/editdata/<%-data._id%>" method="POST" enctype="multipart/form-data">
      <div class="container-fluid">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" class="form-label" value="<%-data.title%>" required><br><br>
        <label for="subtitle">Subtitle:</label><br>
        <input type="text" id="subtitle" name="subtitle" value="<%-data.subtitle%>"><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required><%-data.description%></textarea><br><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br><br>
        <button type="submit" class="btn btn-warning btn-sm">Update Blog Post</button>
      </div>
    </form><br><br><br><br><br>
    <%- include("../components/footer.ejs") %>
    <%- include("../components/scriptbootstrap.ejs") %> 
</body>
</html>