<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Homepage</title>
    
    <link rel="stylesheet" href="/css/home.css">
    <%- include("../components/linkbootstrap.ejs") %> 
</head>
<body>
    <%- include("../components/navbar.ejs") %><br>
    <main>
        
        <div class="container">
            <section class="blog-posts">
                <!-- Example Blog Post Cards -->
                <% blogs.forEach(blog => { %>
                <article class="card">
                    <img src="<%- blog.image %>" alt="Blog Image">
                    <div class="card-content">
                        <h2 class="card-title"><%- blog.title %></h2>
                        <p class="card-description"><%-blog.subtitle %></p>
                        <a href="/blog/<%-blog._id%>">see more</a>
                    </div>
                </article>
                <% }); %>
                <!-- End Example Blog Post Cards -->
            </section>
        </div>
    </main>

   
    <%- include("../components/footer.ejs") %>
    <script>
        // Optional: JavaScript for navigation toggle
        const navToggle = document.querySelector('.nav-toggle');
        navToggle.addEventListener('click', () => {
            document.body.classList.toggle('nav-open');
        });
    </script>
    <%- include("../components/scriptbootstrap.ejs") %> 
</body>
</html>
